body {
  font-family: Lucida Console, sans-serif;
  background-color: #BEF6BA;
}

h1 {
  text-align: center;
  letter-spacing: 2px;
}

.checkout {
  font-family: Lucida Console, sans-serif;
  font-size: 16px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  /*border: 1px solid #000000;*/
  /*margin: 0px 650px;*/
}

.personal {
  margin: 30px;
}

textarea {
  font-family: Lucida Console, sans-serif;
  font-size: 16px;
  height: 16px;
}

.name {
  padding: 10px;
}

.email {
  padding: 10px;
}

.password {
  padding: 10px;
}

.next1 {
  font-family: Lucida Console, sans-serif;
  font-size: 16px;
  display: block;
  margin: 30px auto;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.next2 {
  font-family: Lucida Console, sans-serif;
  font-size: 16px;
  display: block;
  margin: 30px auto;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.next3 {
  font-family: Lucida Console, sans-serif;
  font-size: 16px;
  display: block;
  margin: 30px auto;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.purchase {
  font-family: Lucida Console, sans-serif;
  font-size: 16px;
  display: block;
  margin: 30px auto;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

